[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    unused-argument,
    invalid-name,
    bad-continuation

[TYPECHECK]
ignored-classes=pytest

[LOGGING]
logging-format-style=fstr